<div class="clearfix" style="position: absolute; top: -54px; right: 15px; text-shadow: 1px 1px 0 #fff;">
    <ul class="nav nav-pills">
        <li><a ui-sref="admin.properties">Properties</a></li>
        <li><a ui-sref="admin.locations">Locations</a></li>
        <li><a ui-sref="admin.updates">Updates</a></li>
        <li><a href="" ng-click="logout()">Logout</a></li>
    </ul>
</div>

<div ui-view>
    <br />
    <p style="text-align: center;">
        <i class="fa fa-gears" style="font-size: 170px; color: #EEE; text-shadow: 1px 1px 0 #DDD;"></i>
    </p>
    <br />
</div>