<h2>
    {{property.name}}
    <small>
        <select ng-model="location" ng-change="locationSelectOptionChanged(location)"
                style="border: 1px solid #DDD; padding: 1px; top: -5px; position: relative; color: #666; margin-left: 10px;">
            <option ng-repeat="l in locations" value="{{l.id}}" ng-selected="l.id == property.locationRefId">
                {{l.name}}
            </option>
        </select>
    </small>
    <span class="pull-right" style="margin-top: -5px;">
        <button class="btn btn-default" ng-click="deleteProperty()">
            <i class="fa fa-trash"></i>
            Delete
        </button>
        <button class="btn btn-default" ng-show="property.visible" ng-click="hideProperty()">
            <i class="fa fa-eye-slash"></i>
            Hide
        </button>
        <button class="btn btn-default" ng-hide="property.visible" ng-click="showProperty()">
            <i class="fa fa-eye"></i>
            Show
        </button>
        <button class="btn btn-default" ng-click="viewProperty(property.safeName)">
            <i class="fa fa-reply"></i>
            View
        </button>
        <button class="btn btn-primary" ng-click="saveProperty()">
            <i class="fa fa-save"></i>
            Save
        </button>
    </span>
</h2>

<div contenteditable ng-model="property.description"></div>

<br />

<tabset>
    <tab heading="Article">
        <br />
        <textarea id="article-editor" ui-tinymce="tinymceOptions" ng-model="property.body"></textarea>
        <br />
    </tab>
    <tab heading="Files ({{media.length}})">
        <br />
        <span class="btn btn-primary btn-file">
            <i class="fa fa-plus"></i>
            Select files to upload
            <input type="file" nv-file-select="" options="uploaderOptions" uploader="uploader" multiple />
        </span>

        <table class="table" ng-show="uploader.queue.length">
            <thead>
                <tr>
                    <th width=" 50%">
                        Name
                    </th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Clear
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div ng-show="uploader.progress > 0">
                Progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <div ng-show="uploader.queue.length">
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-default btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Clear All
                </button>
            </div>
        </div>

        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in media | images">
                    <td>
                        <img ng-src="uploads/{{m.propertyRefId}}/thumb_{{m.fileName}}" alt="{{m.fileName}}" class="img-thumbnail"
                             style="margin-right: 10px; width: 64px; height: 36px; border-radius: 3px 3px 0 0;" />
                    </td>
                    <td>
                        <a href="uploads/{{m.propertyRefId}}/{{m.fileName}}" fancybox>
                            {{m.fileName}}
                        </a>
                    </td>
                    <td>{{m.type}}</td>
                    <td>{{m.created | niceDate: 'dmy1'}}</td>
                    <td>
                        <a href="" ng-click="deleteFile(m.id)">
                            Delete
                        </a>
                    </td>
                </tr>
                <tr ng-repeat="m in media | documents">
                    <td>
                        <i class="fa fa-2x {{m.type | mediaIcon}}"></i>
                    </td>
                    <td>
                        <a href="uploads/{{m.propertyRefId}}/{{m.fileName}}" target="_blank">
                            {{m.fileName}}
                        </a>
                    </td>
                    <td>{{m.type}}</td>
                    <td>{{m.created | niceDate: 'dmy1'}}</td>
                    <td>
                        <a href="" ng-click="deleteFile(m.id)">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabset>