<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-strict-di>

<head>
    <title>Superior Prospects Inc.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet" />
</head>

<body>

    <div style="overflow: hidden;" ng-controller="HeaderController">

        <!-- compact-blur-80Q -->
        <img src="assets/header-clear.jpg" style="height: 280px; top: 0; left: -200px;" ng-if="$state.current.name == 'home'" />

        <!-- Navigation -->
        <nav class="navbar navbar-scene navbar-fixed-top" ng-class="{'navbar-transparent': $state.current.name == 'home'}" role="navigation">

            <div class="container" style="position: relative; z-index: 1000;">
                <div class="wrap">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars" style="color: #fff;"></i>
                        </button>
                        <a class="navbar-brand" ui-sref="home">Superior Prospects Inc.</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ui-sref="home">Home</a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                    Locations
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="l in locations">
                                        <a ui-sref="location({lid: '{{l.safeName}}'})">
                                            {{l.name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a ui-sref="contact">Contact</a></li>
                            <li><a ui-sref="about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Page title -->
    <div ng-style="{'margin-top': $state.current.name != 'home' ? '50px' : '0'}" id="page-title">
        <div class="container">
            <h2 ng-cloak>{{title}} &nbsp; <small>{{subtitle}}</small></h2>
        </div>
    </div>

    <!-- Page content -->
    <div id="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ui-view />
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container">
        <div class="footer">
            Superior Prospects Inc. &copy; 2016
        </div>
    </div>

    <!-- Analytics -->
    <script>
        // if (window.location.host.indexOf('superiorprospects.com') > -1) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            // ga('create', 'UA-19249331-1', 'auto'); // p
            ga('create', 'UA-78822442-1', 'auto'); // d
        // }
    </script>

    <!-- Libraries -->
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/tinymce/tinymce.min.js"></script>
    <script src="bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="bower_components/angular-ui-tinymce/dist/tinymce.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- Code -->
    <script src="all.js"></script>

    <!-- Init -->
    <script>
        tinyMCE.init({
            height: '600px',
            mode: 'exact'
        });
    </script>
</body>

</html>