.propertiesView {
  flex: 1;
  padding: 20px 0;
}

.propertiesView .location {
  margin-bottom: 50px;
}

.propertiesView .location .svg-inline--fa {
  margin-right: 10px;
  color: #666;
}

.propertiesView .location .description {
  line-height: 1.3rem;
}
