.homeView {
  flex: 1;
  padding-bottom: 20px;
}

.homeView .jumbotron {
  height: 200px;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
