.propertyView {
  flex: 1;

  .title,
  .subtitle {
    width: 100%;
  }

  .title input {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #ddd;
  }

  .subtitle textarea {
    margin-top: 5px;
    border-color: #ddd;
    border-radius: 3px;
    padding: 10px;
    height: 6rem;
  }

  h1[contenteditable='true'],
  div[contenteditable='true'] {
    resize: none;
  }

  .dropzone {
    color: #3273dc;
    font-weight: 800;
    border: 2px dashed #3273dc;
    cursor: pointer;
    border-radius: 3px;
    width: auto;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;

    .file-type-note {
      font-weight: 400;
      margin-top: 20px;
      font-size: 12px;
    }
  }

  a {
    color: #3273dc;
  }
}
