.header {
  background-color: #222;
}

.header .navbar-item {
  border-bottom: 2px solid transparent;
  transition: 200ms;
}

.header .navbar-item:hover {
  border-bottom: 3px solid #fff;
}

.jumbotron {
  height: 200px;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
}
