.header {
  .navbar {
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
  }

  .navbar-item {
    border-bottom: 2px solid transparent;
    transition: 200ms;
    margin: 0 5px;

    &.active,
    &:hover {
      border-bottom: 2px solid #fff;
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }

  .jumbotron {
    z-index: 0;
    height: 240px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -52px;
    left: 0;
    right: 0;
  }
}
