.jumbotron {
  background: #ccc;
  background-image: url('../../assets/header-clear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  min-height: 200px;
  max-height: 200px;
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  top: -64px;
}
