body {
  font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  min-width: 960px;
  max-width: 1600px;
  margin: auto;
  z-index: 10;
}

h1,
h2 {
  margin: 0;
}

.paper {
  &__title {
    border-bottom: 1px solid #eee;
    height: 54px;
    line-height: 54px !important;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
  }
  &__edit-icon {
    position: absolute !important;
    right: 0;
  }
}
