@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', sans-serif;
}

.column {
  padding: 2rem;
}

.viewContainer {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  min-height: 300px;
  margin-top: -120px;
  margin-bottom: 20px;
}
