@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

body {
    background: #f4f4f4;
}

body, h1, h2, h3, h4, h5, h6, input {
    /*font-family: 'Titillium Web', sans-serif;*/
    font-family: 'Source Sans Pro';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #666;
}

blockquote p {
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

label {
    font-weight: 400;
    color: #666;
}

.form-control {
    box-shadow: none !important;
    border-radius: 2px !important;
}

.dropdown-menu {
    border-radius: 2px;
}

.btn {
    border-radius: 2px !important;
}

.list-group-item {
    border: 1px solid #eee;
    border-radius: 0 !important;
    padding: 7px 12px;
}

    .list-group-item h3,
    .list-group-item h4 {
        color: #999;
    }

    .list-group-item a {
        font-weight: 600;
    }

    .list-group-item .description {
        font-size: 12px;
        color: #999;
        line-height: 14px;
    }

    .list-group-item.heading {
        background: #f4f4f4;
    }

        .list-group-item.heading h4 {
            margin: 0;
            font-weight: 400;
        }

.article-area {
    /*font-family: 'Roboto Slab';*/
    color: #666;
}

    .article-area h1,
    .article-area h2,
    .article-area h3,
    .article-area h4,
    .article-area h5,
    .article-area h6 {
        color: #666;
        font-weight: 400;
    }

    .article-area h2 {
        border-bottom: 2px solid #EEE;
    }

.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#article-editor,
#location-editor {
    height: 500px;
}

.navbar-transparent {
    background: transparent !important;
}

    .navbar-transparent .container .wrap {
        border-bottom: 2px solid #fff;
    }

.navbar-scene {
    background: url('header-compact-blur-80Q.jpg');
    background-position: left -200px top;
}

    .navbar-scene .container {
        color: #fff;
        padding: 0;
    }

    .navbar-scene a {
        color: #fff;
    }

    .navbar-scene .navbar-brand {
        font-size: 24px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }

    .navbar-scene .nav .open > a,
    .navbar-scene .nav .open > a:hover,
    .navbar-scene .nav > li > a:hover, .nav > li > a:focus {
        background: rgba(0,0,0,0.1);
    }

@media(max-width: 767px) {
    .navbar-collapse .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-collapse {
        background: #333;
    }
}

.header-full-image {
    clip: rect(0px,5000px,200px,0px);
}

.header-compact-image {
    clip: rect(0px,5000px,50px,0px);
}

.footer {
    text-align: center;
    color: #ccc;
    margin-top: 5px;
    text-shadow: 1px 1px 0 #FFF;
}

#content-wrap {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#page-title {
    padding-bottom: 10px;
    text-shadow: 1px 1px 0 #fff;
}

    #page-title h2 {
        line-height: 20px;
        font-weight: 300;
    }

.calendar-tile {
    float: left;
    width: 64px;
    margin-right: 10px;
}

    .calendar-tile .calendar-tile-top {
        padding: 0 6px;
        background: #428BCA;
        border-bottom: 1px solid #fff;
    }

    .calendar-tile .month {
        color: #fff;
        font-weight: 600;
        text-shadow: 1px 1px 0 #236EAE;
    }

    .calendar-tile .day {
        border: 1px solid #EAEAEA;
        border-top: none;
        text-align: center;
        font-size: 26px;
        font-weight: 300;
        line-height: 25px;
        padding-bottom: 5px;
        background: #f4f4f4;
        color: #999;
        text-shadow: 1px 1px 0 #fff;
    }

    .calendar-tile .year {
        color: #95AEDA;
        font-weight: 400;
        text-shadow: 1px 1px 0 #3E74A3;
    }

.update-tile {
    margin-bottom: 15px;
}

    .update-tile:last-of-type {
        margin-bottom: 0;
    }

.update-text {
    color: #777;
    line-height: 20px;
}
