<br />

<p>
    If you have any questions or are interested in any of our properties, do not hesitate to contact me. 
    Thank you for your feedback and interest in Superior Prospects.
</p>

<p>
    Phone: 1 (204) 753-8201<br>
    Email: <a href="mailto:bfowler@superiorprospects.com">bfowler@superiorprospects.com</a>
</p>

<h3>Superior Prospects Incorporated</h3>

<p>
    Brian Fowler, President;<br>
    P.O. Box 954<br>
    Pinawa, Manitoba, R0E 1L0<br>
    INC: 1997, ON chart. Private co.<br>
    Auditors: Ernst &amp; Young<br>
    Subsidiaries: Wholly owned 1188785 Ontario Ltd.
</p>

<br />