<div style="position: relative;">
    <div class="article-area" style="margin-right: 270px;">
        <p ng-bind-html="trustedHtml"></p>
    </div>
    <div style="position: absolute; top: 0; right: 0; width: 240px; margin-top: 20px;">

        <!-- Images -->
        <div ng-repeat="m in media | images" style="margin-top: 8px;">
            <i class="fa fa-2x fa-file-image-o"></i>
            <a href="uploads/{{m.fileName}}" ng-click="track(m)" fancybox style="font-size: 12px; padding: 2px 6px;">
                {{m.fileName}}
            </a>
        </div>

        <!-- Documents -->
        <div ng-repeat="m in media | documents" style="margin-top: 8px;">
            <i class="fa fa-2x {{m.type | mediaIcon}}"></i>
            <a href="uploads/{{m.fileName}}" ng-click="track(m)" target="_blank" style="font-size: 12px; padding: 2px 6px;">
                {{m.fileName}}
            </a>
        </div>
    </div>
</div>